.venv/
.vscode/
.ipynb_checkpoints/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
image/cats_and_dogs_filtered/
image/cats_dogs_mobilenetv2_savedmodel/
image/cats_and_dogs_filtered.zip
tabular/saved_models/
text/model_output/